<div class="fields">
    
    <div class="header">
        <h1>Esqueceu sua Senha?</h1>
    </div>

    <div>
        <p>Email</p>
        <input type="email" name="email" placeholder="Digite o E-mail ..." value="{{ login.email }}">
    </div>

    <div class="buttons">

    <button type="submit" class="button">Recuperar</a>

    </div>
    
</div>