{% extends 'layout-users.njk' %}

{% block content %}

    <section>

        <form method="POST" action="/users/forgot-password/recovery">

            {% include "users/forgot-password/recoveryFields.njk" %}

        </form>

    </section>

{% endblock %}