{% extends "layout-logged.njk" %}

{% block content %}

    <div class="userTitle">
        <h1>Usuários</h1>
        <a class="newBtn" href="/users/register">Novo</a>
    </div>

    <div class="userList">
        {% for userIn in usersList %}
        <div class="userField">
            <h1>{{ userIn.name }}</h1>
            <p>{{ userIn.email }}</p>
            <a class="editBtn" href="/users/list/{{ userIn.id }}">Editar</a>
            {% if userIn.id != user.id %}
                <form method="POST" action="/users?_method=DELETE">
                    <button type="submit" class="delBtn">Deletar</a>
                    <input type="hidden" name="delId" value="{{ userIn.id }}">
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}